In [2]:
import pandas as pd
df = pd.read_csv("data/OnlineRetail.csv", engine='python', encoding='utf-8', encoding_errors="ignore")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [ ]:
## Prompt: Create a simple analysis showing the top 5 countries by total sales
df['TotalSales'] = df['Quantity'] * df['UnitPrice']
top_countries = df.groupby('Country')['TotalSales'].sum().nlargest(5)

print("Top 5 Countries by Total Sales:")
for country, sales in top_countries.items():
    print(f"{country}: ${sales:,.2f}")

Top 5 Countries by Total Sales:
United Kingdom: $8,187,806.36
Netherlands: $284,661.54
EIRE: $263,276.82
Germany: $221,698.21
France: $197,403.90

In [9]:
## Prompt: Which description is the longest in the dataset? Please include the length of the description in your response.
longest_description = df['Description'].str.len().idxmax()
longest_description_text = df.loc[longest_description, 'Description']
print(longest_description_text)
print(f"Length: {len(longest_description_text)}")

KNITTED UNION FLAG HOT WATER BOTTLE
Length: 35

In [ ]:
## Prompt: Which descriptions are the longest in the dataset? If there are multiple, how many unique descriptions are there? What % of the total?
df['DescriptionLength'] = df['Description'].str.len()
max_length = df['DescriptionLength'].max()
longest_descriptions = df[df['DescriptionLength'] == max_length]['Description'].unique()
print(len(longest_descriptions))
print(f"% of total: {len(longest_descriptions) / len(df.Description.unique()) * 100:.2f}%")

221
% of total: 5.23%

In [ ]:
## Prompt: What is the average unit price of the products?
verage_unit_price_per_product = df.groupby('StockCode')['UnitPrice'].mean()
overall_average_unit_price = average_unit_price_per_product.mean()


## Adjusted prompt: What is the average unit price of the products? Please find the average unit price of each product first, then find the average of those averages.